In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from alpha_vantage.timeseries import TimeSeries
import plotly.graph_objects as go

import warnings as wa
wa.filterwarnings('ignore')

In [2]:
class Data:

    def __init__(self):
        self.data = {}
        self.tskey = TimeSeries(key='VC612M8YBUMNGVZ2')
        
    def fetchData(self, sym):
        df, meta_data = self.tskey.get_intraday(sym)
        self.data[f'{sym}'] = df

        return df , sym

    def convertData(self,sym):
        df = self.data[sym]
        df = pd.DataFrame(df).transpose().reset_index()
        df.columns = ['timestamp','open','high','low','close','volume']

        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['volume'] = pd.to_numeric(df['volume'])
        df['close'] = pd.to_numeric(df['close'])
        df['high'] = pd.to_numeric(df['high'])
        df['low'] = pd.to_numeric(df['low'])
        df['open'] = pd.to_numeric(df['open'])
        self.data[f'{sym}'] = df

        return df

    def __getitem__(self, key):
        return self.data[key]
    

def indicator1(df , time):
    df['indicator'] = np.nan
    for i in range(time-1, len(df)):
        df['indicator'][i] = sum(df['close'][i-time+1 : i+1])/time

    return df[['timestamp','indicator']].copy()

In [3]:
script = Data()
script.fetchData('NVDA')

({'2023-02-14 20:00:00': {'1. open': '228.6300',
   '2. high': '228.6400',
   '3. low': '228.3000',
   '4. close': '228.4300',
   '5. volume': '31171'},
  '2023-02-14 19:45:00': {'1. open': '228.6500',
   '2. high': '228.7000',
   '3. low': '228.5000',
   '4. close': '228.5000',
   '5. volume': '15535'},
  '2023-02-14 19:30:00': {'1. open': '228.5000',
   '2. high': '228.6800',
   '3. low': '228.2000',
   '4. close': '228.6500',
   '5. volume': '18434'},
  '2023-02-14 19:15:00': {'1. open': '228.5000',
   '2. high': '228.5000',
   '3. low': '228.0600',
   '4. close': '228.5000',
   '5. volume': '15091'},
  '2023-02-14 19:00:00': {'1. open': '228.5200',
   '2. high': '228.6000',
   '3. low': '228.3600',
   '4. close': '228.5000',
   '5. volume': '8792'},
  '2023-02-14 18:45:00': {'1. open': '228.9300',
   '2. high': '228.9300',
   '3. low': '228.4900',
   '4. close': '228.5500',
   '5. volume': '24262'},
  '2023-02-14 18:30:00': {'1. open': '229.1700',
   '2. high': '229.1800',
   '3. low': '228.9400',
   '4. close': '228.9400',
   '5. volume': '11443'},
  '2023-02-14 18:15:00': {'1. open': '229.3400',
   '2. high': '229.4400',
   '3. low': '229.1100',
   '4. close': '229.1100',
   '5. volume': '12667'},
  '2023-02-14 18:00:00': {'1. open': '228.8800',
   '2. high': '229.4700',
   '3. low': '228.8000',
   '4. close': '229.3000',
   '5. volume': '41886'},
  '2023-02-14 17:45:00': {'1. open': '228.7800',
   '2. high': '228.9000',
   '3. low': '228.7500',
   '4. close': '228.8800',
   '5. volume': '16359'},
  '2023-02-14 17:30:00': {'1. open': '228.5500',
   '2. high': '228.9000',
   '3. low': '228.5500',
   '4. close': '228.7700',
   '5. volume': '13765'},
  '2023-02-14 17:15:00': {'1. open': '228.6000',
   '2. high': '228.6000',
   '3. low': '228.3055',
   '4. close': '228.5500',
   '5. volume': '77123'},
  '2023-02-14 17:00:00': {'1. open': '228.3500',
   '2. high': '228.6000',
   '3. low': '227.5200',
   '4. close': '228.6000',
   '5. volume': '41684'},
  '2023-02-14 16:45:00': {'1. open': '228.7788',
   '2. high': '229.7100',
   '3. low': '228.1600',
   '4. close': '228.3000',
   '5. volume': '62075'},
  '2023-02-14 16:30:00': {'1. open': '229.7500',
   '2. high': '229.8300',
   '3. low': '228.0000',
   '4. close': '228.5600',
   '5. volume': '77711'},
  '2023-02-14 16:15:00': {'1. open': '229.7100',
   '2. high': '229.9200',
   '3. low': '229.4600',
   '4. close': '229.7500',
   '5. volume': '541280'},
  '2023-02-14 16:00:00': {'1. open': '229.7900',
   '2. high': '230.4880',
   '3. low': '229.2714',
   '4. close': '229.6000',
   '5. volume': '3381219'},
  '2023-02-14 15:45:00': {'1. open': '228.7100',
   '2. high': '229.9399',
   '3. low': '228.3800',
   '4. close': '229.7900',
   '5. volume': '1810807'},
  '2023-02-14 15:30:00': {'1. open': '228.5700',
   '2. high': '229.2500',
   '3. low': '228.2000',
   '4. close': '228.6800',
   '5. volume': '1699429'},
  '2023-02-14 15:15:00': {'1. open': '229.1700',
   '2. high': '229.3400',
   '3. low': '227.9001',
   '4. close': '228.6150',
   '5. volume': '1627962'},
  '2023-02-14 15:00:00': {'1. open': '229.3500',
   '2. high': '229.9300',
   '3. low': '229.0600',
   '4. close': '229.1100',
   '5. volume': '1336838'},
  '2023-02-14 14:45:00': {'1. open': '228.5500',
   '2. high': '229.7900',
   '3. low': '228.5290',
   '4. close': '229.3400',
   '5. volume': '1972171'},
  '2023-02-14 14:30:00': {'1. open': '228.0950',
   '2. high': '228.8600',
   '3. low': '228.0800',
   '4. close': '228.5869',
   '5. volume': '1082991'},
  '2023-02-14 14:15:00': {'1. open': '228.3900',
   '2. high': '229.1000',
   '3. low': '227.0300',
   '4. close': '228.1500',
   '5. volume': '1740147'},
  '2023-02-14 14:00:00': {'1. open': '227.3400',
   '2. high': '228.6700',
   '3. low': '227.3301',
   '4. close': '228.3876',
   '5. volume': '1107063'},
  '2023-02-14 13:45:00': {'1. open': '228.3000',
   '2. high': '229.0000',
   '3. low': '227.2500',
   '4. close': '227.2901',
   '5. volume': '1622715'},
  '2023-02-14 13:30:00': {'1. open': '228.0998',
   '2. high': '228.8800',
   '3. low': '227.7300',
   '4. close': '228.3082',
   '5. volume': '1639531'},
  '2023-02-14 13:15:00': {'1. open': '226.3200',
   '2. high': '228.3500',
   '3. low': '226.1940',
   '4. close': '228.1058',
   '5. volume': '2377901'},
  '2023-02-14 13:00:00': {'1. open': '226.0300',
   '2. high': '226.4600',
   '3. low': '225.4100',
   '4. close': '226.2744',
   '5. volume': '1234730'},
  '2023-02-14 12:45:00': {'1. open': '225.2748',
   '2. high': '226.7217',
   '3. low': '225.2397',
   '4. close': '226.0500',
   '5. volume': '1781038'},
  '2023-02-14 12:30:00': {'1. open': '225.2000',
   '2. high': '225.6300',
   '3. low': '224.8300',
   '4. close': '225.2878',
   '5. volume': '1230247'},
  '2023-02-14 12:15:00': {'1. open': '224.6700',
   '2. high': '225.2800',
   '3. low': '224.3900',
   '4. close': '225.1600',
   '5. volume': '1337440'},
  '2023-02-14 12:00:00': {'1. open': '223.1900',
   '2. high': '224.9400',
   '3. low': '222.8350',
   '4. close': '224.6562',
   '5. volume': '1746576'},
  '2023-02-14 11:45:00': {'1. open': '224.3550',
   '2. high': '224.6500',
   '3. low': '215.7300',
   '4. close': '223.1900',
   '5. volume': '2198268'},
  '2023-02-14 11:30:00': {'1. open': '225.5000',
   '2. high': '226.7100',
   '3. low': '224.1700',
   '4. close': '224.3332',
   '5. volume': '2186078'},
  '2023-02-14 11:15:00': {'1. open': '223.7500',
   '2. high': '226.1342',
   '3. low': '223.5500',
   '4. close': '225.5300',
   '5. volume': '2611006'},
  '2023-02-14 11:00:00': {'1. open': '223.9500',
   '2. high': '224.0100',
   '3. low': '221.6610',
   '4. close': '223.7850',
   '5. volume': '3620690'},
  '2023-02-14 10:45:00': {'1. open': '226.1500',
   '2. high': '226.9000',
   '3. low': '223.5000',
   '4. close': '224.0000',
   '5. volume': '3702585'},
  '2023-02-14 10:30:00': {'1. open': '227.1500',
   '2. high': '227.9000',
   '3. low': '225.9301',
   '4. close': '226.1600',
   '5. volume': '2786002'},
  '2023-02-14 10:15:00': {'1. open': '225.7800',
   '2. high': '228.2100',
   '3. low': '225.7400',
   '4. close': '227.1478',
   '5. volume': '4092381'},
  '2023-02-14 10:00:00': {'1. open': '221.2300',
   '2. high': '226.8000',
   '3. low': '221.1401',
   '4. close': '225.8000',
   '5. volume': '6577954'},
  '2023-02-14 09:45:00': {'1. open': '215.7800',
   '2. high': '221.8500',
   '3. low': '213.6600',
   '4. close': '221.1401',
   '5. volume': '6114915'},
  '2023-02-14 09:30:00': {'1. open': '216.8000',
   '2. high': '217.6300',
   '3. low': '215.6100',
   '4. close': '215.7100',
   '5. volume': '160867'},
  '2023-02-14 09:15:00': {'1. open': '217.6700',
   '2. high': '218.5200',
   '3. low': '216.7200',
   '4. close': '216.8000',
   '5. volume': '217891'},
  '2023-02-14 09:00:00': {'1. open': '218.0100',
   '2. high': '219.7700',
   '3. low': '217.4200',
   '4. close': '217.9900',
   '5. volume': '222280'},
  '2023-02-14 08:45:00': {'1. open': '219.7500',
   '2. high': '222.0200',
   '3. low': '214.8000',
   '4. close': '218.0300',
   '5. volume': '794845'},
  '2023-02-14 08:30:00': {'1. open': '219.0000',
   '2. high': '220.4500',
   '3. low': '218.9000',
   '4. close': '220.1100',
   '5. volume': '85127'},
  '2023-02-14 08:15:00': {'1. open': '220.0600',
   '2. high': '220.9500',
   '3. low': '217.6700',
   '4. close': '219.0000',
   '5. volume': '128956'},
  '2023-02-14 08:00:00': {'1. open': '219.3100',
   '2. high': '219.8900',
   '3. low': '219.3100',
   '4. close': '219.5000',
   '5. volume': '37018'},
  '2023-02-14 07:45:00': {'1. open': '220.1500',
   '2. high': '220.1500',
   '3. low': '219.2000',
   '4. close': '219.3500',
   '5. volume': '32993'},
  '2023-02-14 07:30:00': {'1. open': '220.3500',
   '2. high': '220.5000',
   '3. low': '220.2000',
   '4. close': '220.2000',
   '5. volume': '22266'},
  '2023-02-14 07:15:00': {'1. open': '220.8500',
   '2. high': '221.0600',
   '3. low': '219.8200',
   '4. close': '220.3500',
   '5. volume': '38894'},
  '2023-02-14 07:00:00': {'1. open': '221.0700',
   '2. high': '221.0700',
   '3. low': '221.0000',
   '4. close': '221.0000',
   '5. volume': '4531'},
  '2023-02-14 06:45:00': {'1. open': '221.4300',
   '2. high': '221.4300',
   '3. low': '221.0700',
   '4. close': '221.1800',
   '5. volume': '5085'},
  '2023-02-14 06:30:00': {'1. open': '221.6000',
   '2. high': '221.6000',
   '3. low': '221.4000',
   '4. close': '221.4000',
   '5. volume': '4697'},
  '2023-02-14 06:15:00': {'1. open': '221.7400',
   '2. high': '222.0000',
   '3. low': '221.5000',
   '4. close': '221.5000',
   '5. volume': '12960'},
  '2023-02-14 06:00:00': {'1. open': '221.2900',
   '2. high': '221.9600',
   '3. low': '220.9000',
   '4. close': '221.7000',
   '5. volume': '28237'},
  '2023-02-14 05:45:00': {'1. open': '221.1100',
   '2. high': '221.3200',
   '3. low': '221.0700',
   '4. close': '221.1000',
   '5. volume': '4935'},
  '2023-02-14 05:30:00': {'1. open': '220.5800',
   '2. high': '221.1000',
   '3. low': '220.4000',
   '4. close': '221.1000',
   '5. volume': '8577'},
  '2023-02-14 05:15:00': {'1. open': '220.4600',
   '2. high': '220.7800',
   '3. low': '220.4100',
   '4. close': '220.6700',
   '5. volume': '16556'},
  '2023-02-14 05:00:00': {'1. open': '219.6900',
   '2. high': '220.5000',
   '3. low': '219.6800',
   '4. close': '220.5000',
   '5. volume': '8486'},
  '2023-02-14 04:45:00': {'1. open': '219.6600',
   '2. high': '219.9000',
   '3. low': '219.6600',
   '4. close': '219.9000',
   '5. volume': '3778'},
  '2023-02-14 04:30:00': {'1. open': '218.7400',
   '2. high': '219.0000',
   '3. low': '218.6600',
   '4. close': '219.0000',
   '5. volume': '2539'},
  '2023-02-14 04:15:00': {'1. open': '217.9800',
   '2. high': '219.8000',
   '3. low': '217.9800',
   '4. close': '218.9500',
   '5. volume': '9263'},
  '2023-02-13 20:00:00': {'1. open': '218.3100',
   '2. high': '218.3800',
   '3. low': '218.2000',
   '4. close': '218.2000',
   '5. volume': '14251'},
  '2023-02-13 19:45:00': {'1. open': '218.2000',
   '2. high': '218.3600',
   '3. low': '218.1600',
   '4. close': '218.2600',
   '5. volume': '17606'},
  '2023-02-13 19:30:00': {'1. open': '218.1500',
   '2. high': '218.3400',
   '3. low': '218.1500',
   '4. close': '218.3000',
   '5. volume': '4990'},
  '2023-02-13 19:15:00': {'1. open': '218.2000',
   '2. high': '218.3700',
   '3. low': '218.1500',
   '4. close': '218.1500',
   '5. volume': '7638'},
  '2023-02-13 19:00:00': {'1. open': '218.1300',
   '2. high': '218.3600',
   '3. low': '218.0400',
   '4. close': '218.2000',
   '5. volume': '5248'},
  '2023-02-13 18:45:00': {'1. open': '218.2400',
   '2. high': '218.3000',
   '3. low': '218.0400',
   '4. close': '218.0800',
   '5. volume': '6972'},
  '2023-02-13 18:30:00': {'1. open': '217.9000',
   '2. high': '218.3700',
   '3. low': '217.9000',
   '4. close': '218.3300',
   '5. volume': '14878'},
  '2023-02-13 18:15:00': {'1. open': '218.1100',
   '2. high': '218.2100',
   '3. low': '218.0000',
   '4. close': '218.0000',
   '5. volume': '4950'},
  '2023-02-13 18:00:00': {'1. open': '218.1900',
   '2. high': '218.2000',
   '3. low': '218.1100',
   '4. close': '218.1500',
   '5. volume': '2901'},
  '2023-02-13 17:45:00': {'1. open': '218.2200',
   '2. high': '218.2200',
   '3. low': '218.1000',
   '4. close': '218.1900',
   '5. volume': '7469'},
  '2023-02-13 17:30:00': {'1. open': '218.3500',
   '2. high': '218.3600',
   '3. low': '217.8800',
   '4. close': '218.2200',
   '5. volume': '19408'},
  '2023-02-13 17:15:00': {'1. open': '218.1600',
   '2. high': '218.3609',
   '3. low': '218.1100',
   '4. close': '218.2401',
   '5. volume': '11865'},
  '2023-02-13 17:00:00': {'1. open': '218.1500',
   '2. high': '218.2100',
   '3. low': '218.1200',
   '4. close': '218.1600',
   '5. volume': '7668'},
  '2023-02-13 16:45:00': {'1. open': '218.1600',
   '2. high': '218.1700',
   '3. low': '218.1100',
   '4. close': '218.1500',
   '5. volume': '22631'},
  '2023-02-13 16:30:00': {'1. open': '217.9200',
   '2. high': '218.2100',
   '3. low': '217.8800',
   '4. close': '218.2099',
   '5. volume': '41597'},
  '2023-02-13 16:15:00': {'1. open': '217.8800',
   '2. high': '217.9800',
   '3. low': '217.7100',
   '4. close': '217.9700',
   '5. volume': '526556'},
  '2023-02-13 16:00:00': {'1. open': '217.7600',
   '2. high': '217.9700',
   '3. low': '216.3600',
   '4. close': '217.9100',
   '5. volume': '2355544'},
  '2023-02-13 15:45:00': {'1. open': '217.8900',
   '2. high': '218.2671',
   '3. low': '217.3450',
   '4. close': '217.7600',
   '5. volume': '1162973'},
  '2023-02-13 15:30:00': {'1. open': '218.3715',
   '2. high': '218.7500',
   '3. low': '217.7100',
   '4. close': '217.9200',
   '5. volume': '1252040'},
  '2023-02-13 15:15:00': {'1. open': '218.1082',
   '2. high': '218.6500',
   '3. low': '217.2923',
   '4. close': '218.3700',
   '5. volume': '1433279'},
  '2023-02-13 15:00:00': {'1. open': '217.0700',
   '2. high': '218.1400',
   '3. low': '216.6400',
   '4. close': '218.1160',
   '5. volume': '1368984'},
  '2023-02-13 14:45:00': {'1. open': '217.2900',
   '2. high': '218.0100',
   '3. low': '216.9100',
   '4. close': '217.1000',
   '5. volume': '1280010'},
  '2023-02-13 14:30:00': {'1. open': '217.9600',
   '2. high': '218.2300',
   '3. low': '217.1401',
   '4. close': '217.2601',
   '5. volume': '1029018'},
  '2023-02-13 14:15:00': {'1. open': '218.9700',
   '2. high': '219.2600',
   '3. low': '217.6500',
   '4. close': '217.9700',
   '5. volume': '1305422'},
  '2023-02-13 14:00:00': {'1. open': '219.0800',
   '2. high': '219.3800',
   '3. low': '218.8532',
   '4. close': '218.9706',
   '5. volume': '941345'},
  '2023-02-13 13:45:00': {'1. open': '220.0293',
   '2. high': '220.4800',
   '3. low': '219.0700',
   '4. close': '219.1000',
   '5. volume': '1340460'},
  '2023-02-13 13:30:00': {'1. open': '219.1000',
   '2. high': '220.2500',
   '3. low': '218.9700',
   '4. close': '219.9919',
   '5. volume': '1396091'},
  '2023-02-13 13:15:00': {'1. open': '218.8440',
   '2. high': '219.2799',
   '3. low': '218.3400',
   '4. close': '219.1072',
   '5. volume': '1090002'},
  '2023-02-13 13:00:00': {'1. open': '219.2350',
   '2. high': '219.7000',
   '3. low': '218.6680',
   '4. close': '218.8550',
   '5. volume': '1098569'},
  '2023-02-13 12:45:00': {'1. open': '219.0250',
   '2. high': '219.4200',
   '3. low': '218.4500',
   '4. close': '219.2400',
   '5. volume': '1005146'},
  '2023-02-13 12:30:00': {'1. open': '218.7300',
   '2. high': '219.4300',
   '3. low': '218.5300',
   '4. close': '219.0000',
   '5. volume': '1173908'},
  '2023-02-13 12:15:00': {'1. open': '219.0300',
   '2. high': '219.3200',
   '3. low': '218.2700',
   '4. close': '218.7800',
   '5. volume': '1208998'},
  '2023-02-13 12:00:00': {'1. open': '219.4000',
   '2. high': '219.7990',
   '3. low': '218.3400',
   '4. close': '219.0600',
   '5. volume': '1534477'},
  '2023-02-13 11:45:00': {'1. open': '218.9500',
   '2. high': '219.6731',
   '3. low': '217.8300',
   '4. close': '219.4013',
   '5. volume': '1786884'},
  '2023-02-13 11:30:00': {'1. open': '218.0000',
   '2. high': '219.0841',
   '3. low': '217.9900',
   '4. close': '218.9265',
   '5. volume': '2201363'},
  '2023-02-13 11:15:00': {'1. open': '216.3900',
   '2. high': '218.1200',
   '3. low': '216.3086',
   '4. close': '218.0150',
   '5. volume': '1838837'}},
 'NVDA')

In [4]:
df = script.convertData('NVDA')
df

             timestamp    open      high       low     close   volume
0  2023-02-14 20:00:00  228.63  228.6400  228.3000  228.4300    31171
1  2023-02-14 19:45:00  228.65  228.7000  228.5000  228.5000    15535
2  2023-02-14 19:30:00  228.50  228.6800  228.2000  228.6500    18434
3  2023-02-14 19:15:00  228.50  228.5000  228.0600  228.5000    15091
4  2023-02-14 19:00:00  228.52  228.6000  228.3600  228.5000     8792
..                 ...     ...       ...       ...       ...      ...
95 2023-02-13 12:15:00  219.03  219.3200  218.2700  218.7800  1208998
96 2023-02-13 12:00:00  219.40  219.7990  218.3400  219.0600  1534477
97 2023-02-13 11:45:00  218.95  219.6731  217.8300  219.4013  1786884
98 2023-02-13 11:30:00  218.00  219.0841  217.9900  218.9265  2201363
99 2023-02-13 11:15:00  216.39  218.1200  216.3086  218.0150  1838837

[100 rows x 6 columns]

In [5]:
indicator1(df, time = 5)

             timestamp  indicator
0  2023-02-14 20:00:00        NaN
1  2023-02-14 19:45:00        NaN
2  2023-02-14 19:30:00        NaN
3  2023-02-14 19:15:00        NaN
4  2023-02-14 19:00:00  228.51600
..                 ...        ...
95 2023-02-13 12:15:00  218.99644
96 2023-02-13 12:00:00  218.98700
97 2023-02-13 11:45:00  219.09626
98 2023-02-13 11:30:00  219.03356
99 2023-02-13 11:15:00  218.83656

[100 rows x 2 columns]

In [6]:
class Strategy:

    def __init__(self , symbol):
        self.symbol  = symbol
        self.df = pd.DataFrame()

    def scriptData(self):
        self.script = Data()
        self.script.fetchData(self.symbol)
        self.script.convertData(self.symbol)

        self.df = self.script.data[self.symbol]

        self.indicator = indicator1(df , time=5)

        self.df['indicator_data'] = self.indicator['indicator']

    def signals(self):
        df = self.df
        df['signal'] = np.nan
        for i in range(len(df)):
            if df.iloc[i-1]['close']>df.iloc[i-1]['indicator_data'] and df.iloc[i]['close'] < df.iloc[i]['indicator_data']:
                df['signal'][i] = 'BUY'
            elif df.iloc[i-1]['close'] < df.iloc[i-1]['indicator_data'] and df.iloc[i]['close'] > df.iloc[i]['indicator_data']:
                df['signal'][i] = 'SELL'

        self.df = df
        return self.df[['timestamp','signal']].copy().dropna()

    def plot(self):
        df = self.df
        fig = px.line(df , y = ['close','indicator_data'])
        fig.show()

        fig = go.Figure(data=[go.Candlestick(
                       open=df['open'], high=df['high'],
                       low=df['low'], close=df['close'] ) ])
        fig.add_trace(go.Line(y=df['indicator_data']))
        fig.show()

In [7]:
strategy = Strategy('NVDA')
strategy.scriptData()
strategy.signals()

             timestamp signal
5  2023-02-14 18:45:00   SELL
9  2023-02-14 17:45:00    BUY
14 2023-02-14 16:30:00   SELL
18 2023-02-14 15:30:00    BUY
21 2023-02-14 14:45:00   SELL
22 2023-02-14 14:30:00    BUY
26 2023-02-14 13:30:00   SELL
28 2023-02-14 13:00:00    BUY
35 2023-02-14 11:15:00   SELL
36 2023-02-14 11:00:00    BUY
38 2023-02-14 10:30:00   SELL
41 2023-02-14 09:45:00    BUY
45 2023-02-14 08:45:00   SELL
57 2023-02-14 05:45:00    BUY
70 2023-02-13 18:30:00   SELL
71 2023-02-13 18:15:00    BUY
73 2023-02-13 17:45:00   SELL
76 2023-02-13 17:00:00    BUY
78 2023-02-13 16:30:00   SELL
79 2023-02-13 16:15:00    BUY
83 2023-02-13 15:15:00   SELL
85 2023-02-13 14:45:00    BUY
87 2023-02-13 14:15:00   SELL
92 2023-02-13 13:00:00    BUY
96 2023-02-13 12:00:00   SELL
98 2023-02-13 11:30:00    BUY